#gameboard {
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
}

table {

    border: 3px solid black;
    border-collapse: collapse;
}

tr {
    
}

td {
    border: 3px solid black;
    height: 168px;
    width: 168px;
    
}

td:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    transition: 0.1s;
}

.mark {
    font-size: 60px;
    text-align: center;
}

